@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../font/Poppins-Regular.ttf") format("woff2");
}

.container {
  @apply max-w-[1200px] mx-auto px-5 py-3;
}
.inner-container {
  @apply max-w-[650px] mx-auto;
}

h2 {
  @apply font-medium text-2xl capitalize;
}
h3 {
  @apply font-medium text-xl capitalize;
}

p.desc {
  @apply text-slate-700 mb-10;
}
